.footer {
    background-color: rgb(13, 13, 54);
    color: aliceblue;
    padding: 10px 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}